<ion-content [fullscreen]="false" style="height: auto">
  <ion-grid>
    <ion-row
      class="ion-text-left ion-align-items-center"
      style="
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        font-family: Raleway;
      "
    >
      <img
        src="./assets/img/busca/back.svg"
        alt="Logo"
        style="cursor: pointer"
        [routerLink]="['/home']"
      />
      <p style="margin: 10px 24%">Dados Financeiros</p>
      <img
        src="./assets/img/curtidas/share.svg"
        alt="Logo"
        style="cursor: pointer"
      />
    </ion-row>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px;
        margin-top: -20px;
      "
    >
      <h2
        style="
          font-weight: 600;
          font-size: 16px;
          color: #2670e8;
          font-family: Raleway;
          width: 80%;
          margin-right: 5%;
        "
      >
        Escola de Referência em Ensino Fundamental e Ensino Médio Costa Azevedo
      </h2>
      <img
        src="./assets/img/financeiro/change.svg"
        alt="Logo"
        style="cursor: pointer"
      />
    </div>
    <h2
      style="
        font-weight: 600;
        font-size: 12px;
        color: #616167;
        font-family: Raleway;
        width: 80%;
        margin-left: 10px;
        margin-top: -5%;
      "
    >
      Cód. Inep: 26113953
    </h2>
  </ion-grid>
  <div
    style="background: #d9e3f3; height: 56px; margin: 0px 0 10px; width: 100%"
  >
    <div style="display: flex; align-items: center; width: 100%">
      <h2
        style="
          font-weight: 700;
          font-size: 16px;
          color: #3c3c3f;
          margin-left: 20px;
          font-family: Raleway;
        "
      >
        IdeGES- PDDE
      </h2>
      <img
        src="./assets/img/financeiro/help.svg"
        alt="Logo"
        style="cursor: pointer; margin: 6px 0 0 6px; width: 14px"
      />
    </div>
    <h2
      style="
        font-weight: 600;
        font-size: 12px;
        color: #616167;
        font-family: Raleway;
        width: 80%;
        margin-left: 20px;
        margin-top: -3%;
      "
    >
      Fonte: FNDE (2020)
    </h2>
  </div>
  <div style="display: flex; align-items: center; width: 100%">
    <img
      src="./assets/img/financeiro/grafico.png"
      alt="Logo"
      style="margin: 10px auto"
    />
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      width: 100%;
      background: #d9e3f3;
      height: 56px;
      margin: 0px 0 10px;
    "
  >
    <h2
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        margin-left: 20px;
        font-family: Raleway;
      "
    >
      Situação da Unidade Executora (UEx)
    </h2>
  </div>
  <div>
    <p
      style="
        font-weight: 600;
        font-size: 12px;
        color: #3c3c3f;
        font-family: Raleway;
        width: 80%;
        margin-left: 20px;
      "
    >
      Ano do corrente exercício 2021
    </p>
    <p
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        font-family: Raleway;
        width: 80%;
        margin-left: 20px;
      "
    >
      Dados cadastrais
    </p>
    <p
      style="
        font-weight: 700;
        font-size: 16px;
        color: #616167;
        font-family: Raleway;
        width: 80%;
        margin: -6px 0 -12px 20px;
      "
    >
      Muito bem!
    </p>
    <p
      style="
        font-weight: 400;
        font-size: 16px;
        color: #616167;
        font-family: Raleway;
        width: 80%;
        margin-left: 20px;
      "
    >
      A Unidade Executora (UEx) dessa rede de ensino possui o mandato de seu
      dirigente vigente no Sistema PDDEWeb. Verifique clicando aqui!
    </p>
    <p
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        font-family: Raleway;
        width: 80%;
        margin-left: 20px;
      "
    >
      Prestação de contas
    </p>
    <p
      style="
        font-weight: 700;
        font-size: 16px;
        color: #616167;
        font-family: Raleway;
        width: 80%;
        margin: -6px 0 -12px 20px;
      "
    >
      Alerta!
    </p>
    <p
      style="
        font-weight: 400;
        font-size: 16px;
        color: #616167;
        font-family: Raleway;
        width: 80%;
        margin-left: 20px;
      "
    >
      Consta inadimplência em Prestação de contas dos recursos do PDDE ou de
      suas ações agregadas na base de dados do FNDE. Enquanto não for
      regularizada(s) a(s) pendência(s), o FNDE não repassará recursos à Unidade
      Executora (UEx).
    </p>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0px 15px;
      "
    >
      <ion-button>Saiba mais</ion-button>
    </div>
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      width: 100%;
      background: #d9e3f3;
      height: 56px;
      margin: 0px 0 10px;
    "
  >
    <h2
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        margin-left: 20px;
        font-family: Raleway;
      "
    >
      Contas bancárias da Escola
    </h2>
  </div>
  <div
    style="
      background: #d2d2d39a;
      height: 24px;
      margin: 0px 0 10px;
      width: 100%;
      display: flex;
      align-items: center;
    "
  >
    <h2
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        margin-left: 20px;
        font-family: Raleway;
        margin-top: 10px;
      "
    >
      PDDE BÁSICO
    </h2>
    <img
      src="./assets/img/financeiro/help.svg"
      alt="Logo"
      style="cursor: pointer; margin: 0px 0 0 6px; width: 14px"
    />
  </div>
  <div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Banco
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        001
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Agência
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        2365
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Conta corrente
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        0000799084
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 0px 35px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Recurso disponível <br />
        em conta - 04/2021
      </p>
      <p
        style="
          font-weight: 700;
          font-size: 16px;
          color: #3c3c3f;
          font-family: Raleway;
          margin: 15px 20px -12px 20px;
        "
      >
        R$ 70,48
      </p>
    </div>
  </div>
  <div
    style="
      background: #d2d2d39a;
      height: 24px;
      margin: 0px 0 10px;
      width: 100%;
      display: flex;
      align-items: center;
    "
  >
    <h2
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        margin-left: 20px;
        font-family: Raleway;
        margin-top: 10px;
      "
    >
      PDDE ESTRUTURA
    </h2>
    <img
      src="./assets/img/financeiro/help.svg"
      alt="Logo"
      style="cursor: pointer; margin: 0px 0 0 6px; width: 14px"
    />
  </div>
  <div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Banco
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        001
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Agência
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        2365
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Conta corrente
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        0000799084
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 0px 35px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Recurso disponível <br />
        em conta - 04/2021
      </p>
      <p
        style="
          font-weight: 700;
          font-size: 16px;
          color: #3c3c3f;
          font-family: Raleway;
          margin: 15px 20px -12px 20px;
        "
      >
        R$ 4.894,49
      </p>
    </div>
  </div>
  <div
    style="
      background: #d2d2d39a;
      height: 24px;
      margin: 0px 0 10px;
      width: 100%;
      display: flex;
      align-items: center;
    "
  >
    <h2
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        margin-left: 20px;
        font-family: Raleway;
        margin-top: 10px;
      "
    >
      PDDE QUALIDADE
    </h2>
    <img
      src="./assets/img/financeiro/help.svg"
      alt="Logo"
      style="cursor: pointer; margin: 0px 0 0 6px; width: 14px"
    />
  </div>
  <div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Banco
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        001
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Agência
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        2365
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Conta corrente
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        0000799084
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 0px 35px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Recurso disponível <br />
        em conta - 04/2021
      </p>
      <p
        style="
          font-weight: 700;
          font-size: 16px;
          color: #3c3c3f;
          font-family: Raleway;
          margin: 15px 20px -12px 20px;
        "
      >
        R$ 4.894,49
      </p>
    </div>
  </div>
  <div
    style="
      background: #d2d2d39a;
      height: 24px;
      margin: 0px 0 10px;
      width: 100%;
      display: flex;
      align-items: center;
    "
  >
    <h2
      style="
        font-weight: 700;
        font-size: 16px;
        color: #3c3c3f;
        margin-left: 20px;
        font-family: Raleway;
        margin-top: 10px;
      "
    >
      PDDE INTEGRAL
    </h2>
    <img
      src="./assets/img/financeiro/help.svg"
      alt="Logo"
      style="cursor: pointer; margin: 0px 0 0 6px; width: 14px"
    />
  </div>
  <div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Banco
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        001
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Agência
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        2365
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Conta corrente
      </p>
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 20px -12px 20px;
        "
      >
        0000799084
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 0px 35px;
      "
    >
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          color: #616167;
          font-family: Raleway;
          margin: 5px 0 -12px 20px;
        "
      >
        Recurso disponível <br />
        em conta - 04/2021
      </p>
      <p
        style="
          font-weight: 700;
          font-size: 16px;
          color: #3c3c3f;
          font-family: Raleway;
          margin: 15px 20px -12px 20px;
        "
      >
        R$ 4.894,49
      </p>
    </div>
  </div>
</ion-content>
