.input-style {
  margin: 0px auto 6px;
  height: 32px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2670E8;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
}

ion-input .custom {
  color: #B8B9BC;
  font-weight: 600;
  font-size: 16px;
  line-height: 18.78px;
}


ion-select-option {
  margin-right: 30px;
}

ion-select {
  --placeholder-color: #1351B4;
  --placeholder-opacity: 1;
}
ion-select::part(icon) {
  color: #1351B4;
  opacity: 1;

}
ion-select::part(text) {
  color: #2670E8;
}
ion-button {
  --background: #1351B4;
  --background-hover: #2670E8;

  --border-radius: 20px;
  --box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);



  --padding: 8px 16px;
}
