<ion-content [fullscreen]="false" style=" height: auto">
  <div class="header">
    <ion-grid>
      <ion-row
        class="ion-text-left ion-align-items-center"
        style="justify-content: space-between; margin: 5px"
      >
        <ion-col size="6">
          <img
            src="./assets/img/home/logo.svg"
            alt="Logo"
            style="width: 133px; cursor: pointer"
          />
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="4">
              <img
                src="./assets/img/home/plus.svg"
                alt="Logo"
                style="cursor: pointer"
              />
            </ion-col>
            <ion-col size="4">
              <img
                src="./assets/img/home/heart.svg"
                alt="Logo"
                style="cursor: pointer"
              />
            </ion-col>
            <ion-col size="4">
              <img
                src="./assets/img/home/bell.png"
                alt="Logo"
                style="cursor: pointer"
              />
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="input-style">
      <img
        src="./assets/img/home/lupa.svg"
        alt="Logo"
        style="margin-left: 19px; margin-right: 10px"
      />
      <ion-input
        class="custom"
        placeholder="Consulte os dados de uma escola"
      ></ion-input>
    </div>
  </div>

  <div style="margin: 10px">
    <swiper-container
      class="mySwiper"
      pagination="false"
      slides-per-view="3.1"
      space-between="5"
      free-mode="false"
    >
      <swiper-slide>
        <div
          style="
            border-radius: 8px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            width: 105px;
            max-height: 96px;
            min-height: 96px;
            padding: 10px 10px;
            cursor: pointer;
          "
          [routerLink]="['/financeiro']"
        >
          <img
            src="./assets/img/home/$.svg"
            alt="Logo"
            style="max-width: 20px"
          />
          <p
            style="
              font-size: 12px;
              font-weight: 700;
              font-family: Raleway;
              text-align: left;
            "
          >
            Financeiro da minha escola
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div
          style="
            border-radius: 8px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            width: 105px;
            max-height: 96px;
            min-height: 96px;
            padding: 10px 13px;
            cursor: pointer;
          "
          [routerLink]="['/proxima']"
        >
          <img
            src="./assets/img/home/hat.svg"
            alt="Logo"
            style="max-width: 38px"
          />
          <p
            style="
              font-size: 12px;
              font-weight: 700;
              font-family: Raleway;
              text-align: left;
            "
          >
            Escolas próximas
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div
          style="
            border-radius: 8px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            width: 105px;
            max-height: 96px;
            min-height: 96px;
            padding: 10px 13px;
            cursor: pointer;
          "
          [routerLink]="['/curtidas']"
        >
          <img
            src="./assets/img/home/cruz.svg"
            alt="Logo"
            style="max-width: 32px"
          />
          <p
            style="
              font-size: 12px;
              font-weight: 700;
              font-family: Raleway;
              text-align: left;
            "
          >
            Curtidos <br />
            do app
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div
          style="
            border-radius: 8px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            width: 105px;
            max-height: 96px;
            min-height: 96px;
            padding: 10px 13px;
            cursor: pointer;
          "
        >
          <img
            src="./assets/img/home/ballStar.svg"
            alt="Logo"
            style="max-width: 32px"
          />
          <p
            style="
              font-size: 12px;
              font-weight: 700;
              font-family: Raleway;
              text-align: left;
            "
          >
            Projetos Sugerido
          </p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <div
    style="
      display: flex;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
      max-height: 64px;
      min-height: 64px;
      padding: 10px 16px;
      margin: 8px 20px;
      cursor: pointer;
    "
    [routerLink]="['/busca']"
  >
    <img src="./assets/img/home/graph.svg" alt="Logo" />
    <p
      style="
        font-size: 16px;
        font-weight: 600;
        font-family: Raleway;
        text-align: left;
        margin: 8px;
        cursor: pointer;
      "
    >
      Consulte os dados <br />
      das Redes de Ensino
    </p>
  </div>

  <h2
    style="
      font-weight: 700;
      font-size: 16px;
      color: #3c3c3f;
      margin-left: 16px;
      margin-bottom: -6px;
      font-family: Raleway;
    "
  >
    Projetos mais vistos do Brasil
  </h2>

  <div style="max-height: 136px; padding: 5px; margin-bottom: 40px">
    <swiper-container
      class="mySecondSwiper"
      pagination="true"
      pagination-clickable="true"
      space-between="10"
      slides-per-view="1.08"
    >
      <swiper-slide [routerLink]="['/curtidas']">
        <div
          style="
            display: flex;
            border-radius: 20px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            cursor: pointer;
            height: 136px;
            width: 98%;
          "
        >
          <img
            src="./assets/img/home/img1.png"
            alt="Logo"
            style="max-width: 93px"
          />
          <div>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 225px;
                padding: 0 13px;
              "
            >
              <p
                style="
                  font-size: 16px;
                  font-weight: 700;
                  font-family: Raleway;
                  text-align: left;
                  color: #3c3c3f;
                  margin: 10px 0;
                "
              >
                Eu curto cidadania
              </p>
              <img
                src="./assets/img/home/heart.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin-right: 3%"
              />
            </div>
            <p
              class="gradient"
              style="
                font-size: 12px;
                font-weight: 400;
                font-family: Raleway;
                text-align: left;
                margin: 0 5px;
                width: 90%;
                padding: 0 8px;
              "
            >
              Por meio de conteúdos teóricos e atividades práticas, ele promete
              levar conhecimento sobre cidadania em...
            </p>

            <div
              style="
                display: flex;
                align-items: center;
                width: 225px;
                padding: 0 13px;
                margin: 5px;
              "
            >
              <img
                src="./assets/img/home/human.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin-right: 40%"
              />
              <img
                src="./assets/img/home/like.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin: 2px"
              />
              <p
                style="
                  margin: 0 16px 0 0;
                  color: #616167;
                  font-size: 12px;
                  font-weight: 600;
                "
              >
                12
              </p>
              <img
                src="./assets/img/home/comment.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin: 2px"
              />
              <p
                style="
                  margin: 0 16px 3px 0;
                  color: #616167;
                  font-size: 12px;
                  font-weight: 600;
                "
              >
                5
              </p>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide [routerLink]="['/curtidas']">
        <div
          style="
            display: flex;
            border-radius: 20px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            cursor: pointer;
            height: 136px;
            width: 98%;
          "
        >
          <img
            src="./assets/img/home/img2.png"
            alt="Logo"
            style="max-width: 93px"
          />
          <div>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 225px;
                padding: 0 13px;
              "
            >
              <p
                style="
                  font-size: 16px;
                  font-weight: 700;
                  font-family: Raleway;
                  text-align: left;
                  color: #3c3c3f;
                  margin: 10px 0;
                "
              >
                Geladeira Literária
              </p>
              <img
                src="./assets/img/home/heart.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin-right: 3%"
              />
            </div>
            <p
              class="gradient"
              style="
                font-size: 12px;
                font-weight: 400;
                font-family: Raleway;
                text-align: left;
                margin: 0 5px;
                width: 90%;
                padding: 0 8px;
              "
            >
              O projeto consiste na criação de uma geladeira na escola, na qual
              os alunos poderão colocar e retirar livros para compartilhar co...
            </p>

            <div
              style="
                display: flex;
                align-items: center;
                width: 225px;
                padding: 0 13px;
                margin: 5px;
              "
            >
              <img
                src="./assets/img/home/global.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin-right: 40%"
              />
              <img
                src="./assets/img/home/like.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin: 2px"
              />
              <p
                style="
                  margin: 0 16px 0 0;
                  color: #616167;
                  font-size: 12px;
                  font-weight: 600;
                "
              >
                324
              </p>
              <img
                src="./assets/img/home/comment.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin: 2px"
              />
              <p
                style="
                  margin: 0 16px 3px 0;
                  color: #616167;
                  font-size: 12px;
                  font-weight: 600;
                "
              >
                104
              </p>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide [routerLink]="['/curtidas']">
        <div
          style="
            display: flex;
            border-radius: 20px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            cursor: pointer;
            height: 136px;
            width: 98%;
          "
        >
          <img
            src="./assets/img/home/img3.png"
            alt="Logo"
            style="max-width: 93px"
          />
          <div>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 225px;
                padding: 0 13px;
              "
            >
              <p
                style="
                  font-size: 16px;
                  font-weight: 700;
                  font-family: Raleway;
                  text-align: left;
                  color: #3c3c3f;
                  margin: 10px 0;
                "
              >
                Delivery de Livros
              </p>
              <img
                src="./assets/img/home/heart.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin-right: 3%"
              />
            </div>
            <p
              class="gradient"
              style="
                font-size: 12px;
                font-weight: 400;
                font-family: Raleway;
                text-align: left;
                margin: 0 5px;
                width: 90%;
                padding: 0 8px;
              "
            >
              O projeto surgiu em meio a pandemia da Covid 19. O corpo docente
              junto com a direção, se inspirando no...
            </p>

            <div
              style="
                display: flex;
                align-items: center;
                width: 225px;
                padding: 0 13px;
                margin: 5px;
              "
            >
              <img
                src="./assets/img/home/global.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin-right: 40%"
              />
              <img
                src="./assets/img/home/like.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin: 2px"
              />
              <p
                style="
                  margin: 0 16px 0 0;
                  color: #616167;
                  font-size: 12px;
                  font-weight: 600;
                "
              >
                34
              </p>
              <img
                src="./assets/img/home/comment.svg"
                alt="Logo"
                style="cursor: pointer; width: 16px; margin: 2px"
              />
              <p
                style="
                  margin: 0 16px 3px 0;
                  color: #616167;
                  font-size: 12px;
                  font-weight: 600;
                "
              >
                94
              </p>
            </div>
          </div>
        </div>
      </swiper-slide>

    </swiper-container>
  </div>

  <h2
    style="
      font-weight: 700;
      font-size: 16px;
      color: #3c3c3f;
      margin-left: 16px;
      font-family: Raleway;
      margin-bottom: -8px;
    "
  >
    Notícias
  </h2>

  <div style="max-height: 136px; padding: 5px; margin-bottom: 40px">
    <swiper-container
      class="mySecondSwiper "
      pagination="true"
      pagination-clickable="true"
      space-between="10"
      slides-per-view="1.07"

    >
      <swiper-slide>
        <div
          style="
            display: flex;
            border-radius: 20px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            cursor: pointer;
            height: 136px;
            width: 98%;
            overflow: hidden;
          "
          [routerLink]="['/noticia']"
          *ngFor="let title of titleNoticias.slice(0, 1)"

        >
        <img
              src="../../../assets/img/home/brasil.png"
              alt="Logo"
              style="width: 115px; cursor: pointer; margin-left: -2%;"
            />
          <div >
            <div
              style="
                display: flex;
                align-items: start;
                justify-content: start;

                padding: 5px 13px;
              "
            >

            <p
              style="
                font-size: 14px;
                font-weight: 700;
                font-family: Raleway;
                text-align: left;
                margin: 10px 5px 10px;
                padding: 0 8px;
                color: #3c3c3f;
                width: 90%;
              "
            >
              {{ title }}
            </p>
          </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div
          style="
            display: flex;
            border-radius: 20px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            cursor: pointer;
            height: 136px;
            width: 98%;
            overflow: hidden;
          "
          [routerLink]="['/noticia']"
          *ngFor="let title of titleNoticias.slice(1, 2)"

        >
        <img
              src="../../../assets/img/home/brasil.png"
              alt="Logo"
              style="width: 115px; cursor: pointer; margin-left: -2%;"
            />
          <div>
            <div
              style="
                display: flex;
                align-items: start;
                justify-content: start;

                padding: 5px 13px;
              "
            >

            <p
              style="
                font-size: 14px;
                font-weight: 700;
                font-family: Raleway;
                text-align: left;
                margin: 10px 5px 10px;
                padding: 0 8px;
                color: #3c3c3f;
                width: 90%;
              "
            >
              {{ title }}
            </p>
          </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div
          style="
            display: flex;
            border-radius: 20px;
            box-shadow: 0px 2px 4px 1px rgba(68, 68, 68, 0.35);
            cursor: pointer;
            height: 136px;
            width: 98%;
            overflow: hidden;
          "
          [routerLink]="['/noticia']"
          *ngFor="let title of titleNoticias.slice(2, 3)"

        >
        <img
              src="../../../assets/img/home/brasil.png"
              alt="Logo"
              style="width: 115px; cursor: pointer; margin-left: -2%;"
            />
          <div >
            <div
              style="
                display: flex;
                align-items: start;
                justify-content: start;
                padding: 5px 13px;
              "

            >

            <p
              style="
                font-size: 14px;
                font-weight: 700;
                font-family: Raleway;
                text-align: left;
                margin: 10px 5px 10px;
                padding: 0 8px;
                color: #3c3c3f;
                width: 90%;
              "
            >
              {{ title }}
            </p>
          </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <ion-toolbar style=" border-top: 1px solid #b8b9bc">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home" style="color: #2670e8"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="search" style="color: #2670e8"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon
            name="color-palette-outline"
            style="color: #2670e8"
          ></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="chatbox-outline" style="color: #2670e8"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="search">
          <img
            src="./assets/img/home/person.svg"
            alt="Logo"
            style="cursor: pointer"
          />
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-content>


<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

 Initialize Swiper
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 5,
        spaceBetween: 50,
      },
    },
  });
</script> -->
